.ExcercisePage__wrapper {
  display: flex;
  height: 94vh;
}

.ExcercisePage__chartdisplay {
  height: 100%;
  width: 100%;
}

/* ============= MEDIA QUERY - LAPTOP ============= */
@media (max-width: 1024px) {
  .ExcercisePage__wrapper {
    height: 92vh;
  }
  .ExcercisePage__chartdisplay {
    padding-left: 15px;
  }
}
