.homescreen {
  display: flex;
  position: relative;
  height: 94vh;
  background-color: #646363;
}

.optionText__left {
  font-weight: 600;
  position: absolute;
  top: 46%;
  left: 12%;
  color: #343a40;
  text-shadow: 3px 3px 4px white;
  font-size: 5em;
}

.optionText__right {
  font-weight: 600;
  position: absolute;
  top: 46%;
  right: 12%;
  color: #343a40;
  text-shadow: 3px 3px 4px white;
  font-size: 5em;
}

.homescreen__left {
  width: 50%;
  background-image: url(./images/opt1.png);
  background-repeat: no-repeat;
  background-size: 100% 100%;
  display: flex;
  opacity: 0.8;
  filter: blur(3px);
  transition: 0.3s ease-in-out;
}

.homescreen__right {
  width: 50%;
  background-image: url(./images/opt2.png);
  background-repeat: no-repeat;
  background-position: right;
  background-size: 100% 100%;
  display: flex;
  opacity: 0.8;
  filter: blur(3px);
  transition: 0.3s ease-in-out;
}

.homescreen__left:hover {
  opacity: 1;
  background-size: 103% 103%;
  filter: blur(0px);
  transition: 0.3s ease-in-out;
}

.homescreen__right:hover {
  opacity: 1;
  filter: blur(0px);
  background-size: 103% 103%;
  transition: 0.3s ease-in-out;
}
