@import url("https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css");

.copyright {
  position: absolute;
  display: inline;
  top: 96%;
  right: 0.5%;
  font-size: 15px;
}

.fa {
  font-size: 20px;
  border-radius: 50px;
  margin-left: 5px;
  position: relative;
  top: 2px;
}

.fa:hover {
  opacity: 0.7;
}

.fa-github {
  color: #343a40;
}
