.copyright {
  position: absolute;
  display: inline;
  top: 96%;
  right: 0.5%;
  font-size: 15px;
}
.copyright a {
  color: #334d5c;
}

.copyright a:hover {
  opacity: 0.7;
  text-decoration: none;
  color: #557c92;
}

.copyright i {
  font-size: 20px;
  border-radius: 50px;
  margin-left: 5px;
  position: relative;
  top: 2px;
}
