.copyright {
  position: absolute;
  display: inline;
  font-size: 0.9em;
  bottom: 0.3%;
  right: 0%;
  opacity: 0.8;
  padding-right: 5px;
}
.copyright a {
  color: #334d5c;
}

.copyright a:hover {
  text-decoration: none;
  color: #040608;
}

.copyright i {
  font-size: 1em;
  border-radius: 50px;
  margin-left: 5px;
  top: 2px;
}