.navbar a {
  color: white;
}
.navbar-text {
  color: white;
}

#root > div > div > header > div > button {
  color: white;
}

.navbar-center {
  position: absolute;
  left: 50%;
  transform: translatex(-50%);
}

/* =======SWITCH========== */
.checkbox-container span {
  padding-right: 5px;
  color: rgb(235, 213, 213);
}
.react-switch {
  vertical-align: middle;
  margin-right: 10px;
}
