.StudentPage__wrapper {
  display: flex;
  height: 94vh;
  width: 100%;
}

.student__wrapper {
  width: 34%;
}

.table__wrapper {
  width: 53vw !important;
}

.student__container {
  position: relative;
  height: 700px;
  width: 80%;
  margin: 20px;
  top: 15%;
  left: 5%;
  -webkit-box-shadow: 5px 5px 15px 3px #000000;
  box-shadow: 5px 5px 15px 3px #000000;
  border-radius: 40px;
  overflow: hidden;
}

.student__profile {
  position: absolute;
  background-color: #006ee4;
  height: 200px;
  width: 100%;
}

.student__image {
  border-radius: 50%;
  border: #343a40 5px solid;
  width: 200px;
  height: 200px;
  -o-object-fit: cover;
  object-fit: cover;
  position: absolute;
  top: 50%;
  left: 30%;
  z-index: 1;
}

.student__name {
  color: white;
  margin-top: 5%;
  text-align: center;
  font-weight: bold;
}

.student__about {
  position: absolute;
  color: #006ee4;
  text-align: center;
  font-size: 1em;
  font-weight: bold;
  line-height: 30px;
  width: 305px;
  top: 50%;
  left: 20%;
}

.student__about span {
  display: block;
}

.student__about--info {
  color: #343a40;
  border-bottom: 1px solid #616a74;
}

/* ============= MEDIA QUERY - LAPTOP ============= */
@media (max-width: 1150px) {
  .StudentPage__wrapper {
    height: 92vh;
  }
  .student__container {
    top: 0%;
    height: 650px;
  }

  .student__image {
    left: 25%;
    top: 60%;
    width: 150px;
    height: 150px;
  }

  .student__about {
    text-align: left;
    left: 5%;
    top: 45%;
  }
}

/* HOTFIX FOR STUDENT PROFILE */
@media (max-height: 768px) {
  .StudentPage__wrapper {
    height: 92vh;
  }
  .student__container {
    top: 0%;
    height: 650px;
  }

  .student__image {
    left: 25%;
    top: 60%;
    width: 150px;
    height: 150px;
  }

  .student__about {
    text-align: left;
    left: 5%;
    top: 45%;
  }
}
