* {
  margin: 0;
  padding: 0;
}

html,
body {
  height: 100%;
  width: 100%;
}

.NothingSelected {
  position: absolute;
  top: 10%;
  left: 23%;
}

.NothingSelected span {
  font-weight: 600;
  color: #343a40;
  text-shadow: 3px 3px 4px white;
  font-size: 5vw;
}

.NothingSelected i {
  font-size: 5vw;
  display: block;
  text-align: center;
  color: #007bff;
}
