* {
  margin: 0;
  padding: 0;
}

body {
  height: 100vh;
}

.mainContainer {
  height: 100%;
  position: relative;
  background-color: #f1f1f1;
}

.NothingSelected {
  position: absolute;
  top: 5%;
  left: 27%;
}

.NothingSelected span{
  font-weight: 600;
  color: #343a40;
  text-shadow: 3px 3px 4px white;
  font-size: 5em;
}

.NothingSelected i {
  position: relative;
  font-size: 5em;
  display: block;
  text-align: center;
  color: #007bff;
  padding-bottom: 200px;
}
