.overview__container {
  height: 94vh;
  width: 100%;
}

.rsdt.rsdt-container {
  overflow: hidden;
  overflow-y: scroll;
  height: 93%;
}

.rsdt.rsdt-column-toggles {
  margin-bottom: 10px;
}

/* ============= MEDIA QUERY - LAPTOP ============= */

@media (max-width: 1024px) {
  .overview__container {
  height: 92vh;
}
}