.select__menu--exercise {
  height: 100%;
  width: 15%;
  overflow-y: auto;
  direction: rtl;
  -webkit-box-shadow: -10px 0px 13px -7px #000000, 10px 0px 13px -7px #000000,
    5px 5px 15px 5px rgba(0, 0, 0, 0);
  box-shadow: -10px 0px 13px -7px #000000, 10px 0px 13px -7px #000000,
    5px 5px 15px 5px rgba(0, 0, 0, 0);
}

.select__menu--exercise button {
  padding: 10px 24px;
  border: 1px solid #074180;
  cursor: pointer;
  width: 100%;
  display: block;
}

.select__menu--exercise button:hover {
  background-color: #007bff3f;
}

.active_btn {
  background-color: #007bff81;
}
