.settings__sort--options {
  font-size: 1.4em;
  display: flex;
  flex-direction: column;
}

.settings__sort--options label {
  display: block;
}

.settings__sort--options input + span {
  margin-right: 15px;
  padding-left: 5px;
}
